.input {
  > div {
    position: relative;

    input {
      width: 100%;
      background-color: var(--input-background-clr);
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
      border: 1px solid var(--clr-borders);
      transition: border-color 0.2s ease, filter 0.2s ease, color 0.2s ease;

      &::placeholder {
        opacity: 0.5;
      }

      &:focus,
      &:hover {
        border-color: var(--clr-purple);
        filter: drop-shadow(0 0 32px var(--clr-purple-drop-shadow));
      }

      &[aria-invalid="true"] {
        color: var(--clr-red);
        border-color: var(--clr-red);
      }

      &:has(+ svg) {
        padding-left: 2.5rem;
      }
    }

    svg {
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }

    div[role="alert"] {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      font-size: 0.75em;
      color: var(--clr-red);
      pointer-events: none;
      background-color: var(--input-background-clr);
      padding-left: 0.5rem;
    }
  }
}
