.input {
  > div {
    position: relative;
    input {
      width: 100%;

      &:has(+ i) {
        padding-left: 2.5rem;
      }
    }

    label {
      font-size: 0.75em;
    }

    .icon {
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }

    div[role="alert"] {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      font-size: 0.75em;
      color: var(--clr-red);
      pointer-events: none;
    }
  }
}
