.form {
  > h2 {
    font-size: 1.5em;

    @media (min-width: 768px) {
      font-size: 2em;
    }

    font-weight: 700;
    color: var(--clr-dark-grey);
  }

  > p.description {
    margin-top: 0.5rem;
    color: var(--clr-grey);
    text-align: left;
  }

  > fieldset {
    margin-top: 2.5rem;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    > div {
      display: flex;
      flex-direction: column;
      label {
        font-size: 0.75em;
      }
    }
  }

  > button {
    margin-top: 1.5rem;
    width: 100%;
  }
}
