.user-link-component {
  position: relative;

  input[data-invalid="true"] {
    border-color: red;
  }

  .error-message {
    color: red;
    font-size: 0.8em;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid red;
    padding: 0.5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
}
