.reset-password {
  > p.password-info {
    margin-top: 1.5rem;
    font-size: 0.75em;
    color: var(--clr-grey);
    text-align: left;
  }

  .snackbar {
    a {
      display: block;
    }
    @media (min-width: 768px) {
      a {
        display: inline;
      }
    }
  }
}
