.header {
  background-color: var(--clr-white);
  padding: 1rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1;

  @media (min-width: 768px) {
    margin: 1.5rem 1.5rem 0 1.5rem;
    border-radius: 0.75rem;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    .dropdown-trigger {
      cursor: pointer;
      justify-self: left;
      background-color: transparent;
      border: none;
    }

    .dropdown-content {
      background-color: var(--clr-white);
      z-index: 1;
      border-radius: 0.5rem;
      width: var(--radix-select-trigger-width);
      max-height: var(--radix-select-content-available-height);
      margin-top: 0.5rem;
      min-width: var(--radix-dropdown-menu-trigger-width);
      border: 1px solid var(--clr-borders);
      filter: drop-shadow(0 0 32px rgba(0, 0, 0, 0.1));
      overflow: hidden;

      [role="menuitem"] {
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
      }
    }

    ul {
      position: relative;
      display: flex;

      &::before {
        inset: 0;
        position: absolute;
        content: "";
        display: block;
        z-index: -1;
        background-color: var(--clr-light-purple);
        border-radius: 0.5rem;
        translate: var(--_left, 0) 0;
        width: var(--_width, 0);
      }
    }

    button {
      justify-self: end;
      svg {
        display: none;
      }
    }

    a {
      transition: color 0.3s ease, background-color 0.3s ease;
      color: var(--clr-grey);
      display: block;
      height: 2.625rem;
      font-weight: 600;
      display: grid;
      place-items: center;
      padding: 0 1.6875rem;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:hover {
        color: var(--clr-purple);
      }

      &[aria-current="page"] {
        color: var(--clr-purple);
      }
    }

    @media (max-width: 480px) {
      button {
        svg {
          display: block;
        }
      }

      span {
        position: absolute;
        clip-path: inset(50%);
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
        padding: 0;
        margin: -1px;
      }
    }
  }
}
