.header {
  background-color: var(--clr-white);
  padding: 1rem 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1;

  @media (min-width: 768px) {
    margin: 1.5rem;
    border-radius: 0.75rem;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    ul {
      display: flex;
    }

    button {
      justify-self: end;
      svg {
        display: none;
      }
    }

    a {
      transition: color 0.3s ease, background-color 0.3s ease;
      color: var(--clr-grey);
      display: block;
      height: 2.625rem;
      font-weight: 600;
      display: grid;
      place-items: center;
      padding: 0 1.6875rem;
      border-radius: 0.5rem;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:hover {
        color: var(--clr-purple);
      }

      &[aria-current="page"] {
        color: var(--clr-purple);
        background-color: var(--clr-light-purple);
      }
    }

    @media (max-width: 480px) {
      button {
        svg {
          display: block;
        }
      }

      span {
        position: absolute;
        clip-path: inset(50%);
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
        padding: 0;
        margin: -1px;
      }
    }
  }
}
