.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 1;
}

.content {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 50%;
  margin-top: 1rem;
  transform: translate(-50%, 0);
  z-index: 2;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;

  max-width: 25rem;

  .title {
    color: var(--clr-dark-grey);
    font-size: 1.5rem;
    font-weight: 600;
  }

  .description {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--clr-grey);
  }
  .button-strip {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}
