.reset-password {
  form {
    div {
      display: flex;
      flex-direction: column;
      max-width: 10rem;
      margin: auto;
      gap: 0.5rem;
    }
    button {
      margin-top: 2rem;
    }

    .error {
      margin: 0;
      color: red;
      font-size: 0.8em;
    }
  }
}
