.login {
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .fields {
      display: flex;
      flex-direction: column;
      input:last-of-type {
        margin-top: 10px;
      }

      .error {
        margin: 8px 0 0 0;
        color: red;
      }
    }
  }
}
