@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
  }
}

.snackbar {
  margin-top: 1.5rem;
  background-color: var(--clr-light-grey);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-borders);

  text-align: center;
  animation: fade-in 0.3s;

  &.negative {
    border-color: var(--clr-red);
    color: var(--clr-red);
  }
}
