/* BEGIN RESET */

*,
*::before,
*::after {
	box-sizing: border-box;
	font: inherit;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
	padding-inline-start: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

img,
picture,
svg,
canvas {
	display: block;
	max-inline-size: 100%;
	block-size: auto;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
/* END RESET */

@font-face {
	font-family: 'Instrument Sans';
	src: url('/fonts/InstrumentSans-Regular.ttf') format('truetype');
	font-weight: 400; /* Regular */
	font-style: normal;
}

@font-face {
	font-family: 'Instrument Sans';
	src: url('/fonts/InstrumentSans-SemiBold.ttf') format('truetype');
	font-weight: 600; /* Semi-Bold */
	font-style: normal;
}

@font-face {
	font-family: 'Instrument Sans';
	src: url('/fonts/InstrumentSans-Bold.ttf') format('truetype');
	font-weight: 700; /* Bold */
	font-style: normal;
}

:root {
	--fw-regular: 400;
	--fw-semibold: 600;
	--fw-bold: 700;

	--clr-primary-400-rgb: 99, 60, 255;
	--clr-primary-400: rgb(var(--clr-primary-400-rgb));
	--clr-primary-600: #efebff;
	--clr-primary-500: #beadff;

	--clr-base-400: #333333;
	--clr-base-500: #737373;
	--clr-base-600: #d9d9d9;
	--clr-base-700: #fafafa;
	--clr-base-900: #ffffff;

	--clr-accent: #ff3939;
}

body {
	font-family: 'Instrument Sans';
	font-weight: var(--fw-regular);
	line-height: 1.5;
	color: var(--clr-base-400);
}
