.profile {
  margin: 2rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 1em;

  .drop-zone {
    width: 12rem;
    height: 12rem;
    background: rgba(255, 255, 255, 0.05);
    margin: auto;
    margin-top: 1rem;
    cursor: pointer;

    .preview {
      width: 100%;
      height: 100%;
    }
  }

  .info {
    font-weight: bold;
    font-size: 110%;
  }

  .picture {
    margin-top: 1rem;

    input {
      margin: auto;
      display: block;
      background: rgba(255, 255, 255, 0.05);
    }
  }
}
